*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Generals */
body{
    background-color:rgb(138, 189, 131);
}
.debug .border{
    border: 2px dashed black;
}
.small-container{
    max-width:900px;
	margin:0px auto;
}
.large-container{
    max-width: 1080px;
}
header{
    background-color: red;
}
img{
    max-width: 200px;
}
a{
    text-decoration: none;
    color: black ;
}
/* Utils */
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.main-header{
    height: 300px;
    background-color:#B4D0E7;
}
.col{
    flex-direction: column;
}
.center{
    align-items: center;
}
.circle{
    border: 2px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}
.lightblue{
    border-color: #5394FF;
}
.grey{
    border-color: #EDEDEE;
}
.pastel-blue{
    background-color:#B4D0E7;
}
.vertical-card{
    width:calc( 100% / 3 );
    background-color: red;
}
.horizontal-card{
    height: 100px;
    width:calc( (900px- 80%) * 3 );
    background-color: orange;
}
.free-trial{
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
.separator{
    height: 1px;
    border: 1px solid #999999;
}